@import "peseudo" ;
@import "game-profile";
@import "discounts";
@import "tooltip";
@import "checkbox";
@import "featureProduct";
@import "frame";
@import "form";
@import "./page/page";

*{
       margin: 0;
       padding: 0;
       box-sizing: border-box;
}
body{
       font-family: 'Roboto', sans-serif;
       background-color: #eee;
}
span{
       font-size: 26px;
       font-weight: bold;
}
