/* hr {
       width: 30%;
       margin: 10px 0 15px 0;}
.peseudo{
       width: 800px;
       height: 100%;
       margin:20px 30px;
       padding: 10px 0 20px 0;
       .circle{
              .blue{
                     padding-top: 20px;
                     color: blue;
              }
              .red{
                     padding-top: 10px;
                     color: red;
              }
              .green{
                     padding-top: 10px;
                     color: green;
              }
              .orange{
                     padding-top: 10px;
                     color: orange;
              }
              hr {
                     &::before {
                     content: '';
                     position: absolute;
                     width: 12px;
                     height: 12px;
                     background-color: blue;
                     border-radius: 50%;
                     left: 3.5%;
                     margin-top: -1%;
                     }
              }
       }
       .box{
              .blue{
                     padding-top: 20px;
                     color: blue;
              }
              .red{
                     padding-top: 10px;
                     color: red;
              }
              .green{
                     padding-top: 10px;
                     color: green;
              }
              .orange{
                     padding-top: 10px;
                     color: orange;
              }
              hr {
                     &::before {
                     content: '';
                     position: absolute;
                     width: 12px;
                     height: 12px;
                     background-color: blue;
                     left: 3.5%;
                     margin-top: -1%;
                     }
              }
       }
       .triangle-up{
              .blue{
                     padding-top: 20px;
                     color: blue;
              }
              .red{
                     padding-top: 10px;
                     color: red;
              }
              .green{
                     padding-top: 10px;
                     color: green;
              }
              .orange{
                     padding-top: 10px;
                     color: orange;
              }
              hr {
                     &::after {
                     position: absolute;
                     content: '';                    
                     left: 3.5%;
                     margin-top: -1.6%;
                     width: 0;
                     border-bottom: 10px solid blue;
                     border-right: 10px solid transparent;
                     border-left: 10px solid transparent;
                     }
              }
       }
       .triangle-down{
                     .blue{
                            padding-top: 20px;
                            color: blue;
                     }
                     .red{
                            padding-top: 10px;
                            color: red;
                     }
                     .green{
                            padding-top: 10px;
                            color: green;
                     }
                     .orange{
                            padding-top: 10px;
                            color: orange;
                     }
                     hr {
                            &::after {
                            position: absolute;
                            content: '';                    
                            left: 3.5%;
                            margin-top: -0.2%;
                            width: 0;
                            border-top: 10px solid blue;
                            border-right: 10px solid transparent;
                            border-left: 10px solid transparent;
                            }
                     }
       }}
 */
.game-profile {
  width: 800px;
  height: auto;
  background-color: white;
  margin: 5px auto;
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  -moz-column-gap: 1px;
       column-gap: 1px;
  margin-top: 30px;
}
.game-profile aside {
  border-right: 2px solid #c7c6c6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.game-profile aside img {
  border: 3px solid rgb(212, 209, 209);
  border-radius: 50%;
}
.game-profile aside h3 {
  font-size: 16px;
  margin-top: 7px;
}
.game-profile aside .design {
  background-color: #eee;
  width: 175px;
  height: 20px;
  border-radius: 4px;
  margin-top: 5px;
}
.game-profile aside .design span {
  display: block;
  background-color: rgb(9, 146, 148);
  width: 140px;
  height: 20px;
  border-radius: 4px 0px 0px 4px;
}
.game-profile aside p {
  font-size: 11px;
  margin-top: 7px;
  color: #797777;
}
.game-profile aside p span {
  color: rgb(9, 146, 148);
  font-size: 12px;
}
.game-profile main {
  display: grid;
  grid-template-rows: 2fr 5fr 1fr;
  margin: 10px;
}
.game-profile main .text {
  color: #797777;
}
.game-profile main .days {
  color: #797777;
  justify-self: end;
  font-size: 13px;
}

.discounts {
  width: 800px;
  height: auto;
  background-color: #eee;
  margin: 5px auto;
  margin-top: 50px;
  padding: 5px;
  position: relative;
}
.discounts p {
  margin-right: 30px;
  margin-bottom: 20px;
  background-color: rgb(58, 112, 219);
  display: inline-block;
  position: relative;
  left: 83%;
  color: white;
  height: auto;
  width: 130px;
  text-align: center;
  padding: 8px;
  font-size: 18px;
}
.discounts p::after {
  position: absolute;
  content: "";
  left: 75%;
  bottom: 2%;
  border: 17px solid transparent;
  border-right-color: #eee;
}
.discounts .containers {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.discounts .containers .basic {
  border: 1px solid #eee;
  margin-right: 20px;
  background-color: white;
}
.discounts .containers .basic .title {
  font-size: 20px;
  padding: 10px;
  background-color: rgb(166, 37, 37);
  color: white;
  border-radius: 5px 5px 0px 0px;
}
.discounts .containers .basic .line {
  padding: 16px 3px 16px 0px;
  border-bottom: 1px solid #e6e6e6;
}
.discounts .containers .basic .line .bx-check {
  background-color: rgb(9, 173, 132);
  width: 17px;
  height: 17px;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 8px;
  color: white;
}
.discounts .containers .basic .line .bx-x {
  background-color: rgb(198, 8, 8);
  width: 17px;
  height: 17px;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 8px;
  color: white;
}
.discounts .professional {
  border: 1px solid #eee;
  background-color: white;
}
.discounts .professional .title {
  font-size: 20px;
  padding: 10px;
  background-color: rgb(52, 152, 180);
  color: white;
  border-radius: 5px 5px 0px 0px;
}
.discounts .professional .line {
  padding: 16px 3px 16px 0px;
  border-bottom: 1px solid #e6e6e6;
}
.discounts .professional .line .bx-check {
  background-color: rgb(9, 173, 132);
  width: 17px;
  height: 17px;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 8px;
  color: white;
}
.discounts .professional .line .bx-x {
  background-color: rgb(198, 8, 8);
  width: 17px;
  height: 17px;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 8px;
  color: white;
}
.discounts .professional .special {
  position: relative;
}
.discounts .professional .special .bx-question-mark {
  position: absolute;
  left: 90%;
  background-color: #514f4f;
  border-radius: 50%;
  color: white;
  padding: 1px;
}

.tooltip {
  width: 800px;
  height: 200px;
  background-color: white;
  margin: 5px auto;
  margin-top: 50px;
  padding: 5px;
  position: relative;
}
.tooltip a {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: red;
  color: white;
  text-decoration: none;
  padding: 10px;
  font-size: 28px;
}
.tooltip a:hover span {
  position: absolute;
  content: "";
  width: 380px;
  height: 70px;
  background-color: black;
  color: white;
  bottom: 140%;
  left: -35%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tooltip a:hover span::before {
  position: absolute;
  content: "";
  left: 45%;
  bottom: -48%;
  border: 17px solid transparent;
  border-top-color: black;
}
.tooltip a span {
  display: none;
}

.checkbox {
  width: 800px;
  height: auto;
  background-color: white;
  margin: 5px auto;
  margin-top: 50px;
  padding: 5px;
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.checkbox aside {
  padding: 10px;
}
.checkbox aside .CategoryList h3 {
  font-size: 16px;
  padding: 15px 0 15px;
  position: relative;
}
.checkbox aside .CategoryList h3 span {
  position: absolute;
  content: "";
  height: 1px;
  width: 40px;
  background-color: rgb(68, 135, 206);
  bottom: 50%;
  right: 25px;
}
.checkbox aside .CategoryList .line {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 10px;
  color: #807d7d;
}
.checkbox aside .CategoryList .line p {
  background-color: #eee;
  width: 28px;
  height: 18px;
  font-size: 14px;
  text-align: center;
}
.checkbox aside .gallery h3 {
  font-size: 16px;
  padding: 15px 0 15px;
  position: relative;
}
.checkbox aside .gallery h3 span {
  position: absolute;
  content: "";
  height: 1px;
  width: 40px;
  background-color: rgb(68, 135, 206);
  bottom: 50%;
  right: 70px;
}
.checkbox aside .Archives h3 {
  font-size: 16px;
  padding: 22px 0 15px;
  position: relative;
}
.checkbox aside .Archives h3 span {
  position: absolute;
  content: "";
  height: 1px;
  width: 40px;
  background-color: rgb(68, 135, 206);
  bottom: 40%;
  right: 60px;
}
.checkbox aside .Archives .dat-box {
  display: flex;
  justify-content: start;
}
.checkbox aside .Archives .dat-box i {
  margin: 15px 15px 0 0px;
}
.checkbox aside .Archives .dat-box p {
  margin: 15px 15px 0 2px;
}

.featureProduct {
  width: 800px;
  height: 320px;
  background-color: white;
  margin: 5px auto;
  margin-top: 50px;
  padding: 5px;
  position: relative;
}
.featureProduct a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  background-color: rgb(2, 56, 38);
  padding: 10px 20px;
  margin-bottom: 30px;
  position: absolute;
}
.featureProduct .Products {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  position: absolute;
  right: 0;
  top: 23%;
}
.featureProduct .Products .box {
  border: 3px solid gray;
  height: 230px;
  width: 170px;
  margin-bottom: 40px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.featureProduct .Products .box img {
  width: 100%;
  height: 100%;
  border: 1px solid white;
}
.featureProduct .Products .box p {
  font-size: 13px;
  padding: 5px;
}
.featureProduct .Products .box .sale {
  position: absolute;
  content: "";
  width: 35px;
  height: 35px;
  background-color: orange;
  border-radius: 50%;
  top: -7px;
  left: 180px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
.featureProduct .Products .box span {
  font-size: 12px;
  padding: 5px;
  color: rgb(6, 139, 112);
  position: relative;
}
.featureProduct .Products .box span::before {
  position: absolute;
  content: "";
  width: 30px;
  background-color: #e6e6e6;
  height: 2px;
  right: 110%;
  top: 44%;
}
.featureProduct .Products .box span::after {
  position: absolute;
  content: "";
  width: 30px;
  background-color: #e6e6e6;
  height: 2px;
  left: 110%;
  top: 44%;
}
.featureProduct .Products .box span h4 {
  color: red;
  display: inline;
}

.frame {
  width: 800px;
  height: 450px;
  background-color: #eee;
  margin: 5px auto;
  margin-top: 50px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 15px solid rgb(51, 50, 50);
}
.frame .frameBox {
  margin: 40px auto;
  padding: 40px;
  position: relative;
}
.frame .frameBox::after {
  position: absolute;
  content: "";
  width: 370px;
  height: 420px;
  background-color: rgb(51, 50, 50);
  left: 54%;
  top: 20px;
  z-index: 1;
  border-top: 15px solid #eee;
  border-bottom: 15px solid #eee;
  border-right: 15px solid #eee;
}
.frame .frameBox img {
  position: relative;
  z-index: 2;
}

form {
  width: 800px;
  height: 480px;
  background-color: white;
  margin: 5px auto;
  margin-top: 50px;
  padding: 5px;
}
form .box {
  display: grid;
  padding: 20px;
  grid-template-columns: 1fr 5px 1fr;
  grid-template-rows: 100px 100px 100px 100px;
  grid-template-areas: "username username  phone phone " "password password   Berieft Berieft" "email email  Berieft Berieft" "button button button button ";
  gap: 12px;
}
form .box .box-first {
  grid-area: username;
  margin-top: 5px;
  margin-bottom: 10px;
}
form .box .box-second {
  grid-area: password;
  margin-top: 5px;
  margin-bottom: 10px;
}
form .box .box-third {
  grid-area: email;
  margin-top: 5px;
  margin-bottom: 10px;
}
form .box .box-fourth {
  grid-area: phone;
  margin-top: 5px;
  margin-bottom: 10px;
}
form .box .box-fivth {
  grid-area: Berieft;
  margin-top: 5px;
  margin-bottom: 10px;
}
form .box .box-fivth input {
  height: 80%;
}
form .box .input {
  grid-area: button;
  margin-top: 5px;
  margin-bottom: 10px;
  height: 60%;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 22px;
  background-color: rgb(17, 169, 118);
}
form .box h3 {
  padding-bottom: 10px;
}
form .box h3 i {
  color: red;
  font-size: 8px;
}
form .box input {
  margin-top: 5px;
  margin-bottom: 10px;
  width: 100%;
  height: 50%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #e6e2e2;
}

.page {
  width: 800px;
  height: auto;
  background-color: white;
  margin: 5px auto;
  margin-top: 50px;
  padding: 5px;
  Line-height: 1.4;
}
.page .nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}
.page .nav .logo {
  font-size: 1.5rem;
}
.page .nav ul {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.page .nav ul li {
  list-style: none;
}
.page .nav ul li a {
  text-decoration: none;
  color: black;
}
.page .main {
  background-color: #eee;
}
.page .main .home h2 {
  text-align: center;
  padding: 30px 30px 20px 30px;
}
.page .main .home h2 span {
  color: rgb(4, 131, 157);
}
.page .main .home p {
  text-align: center;
  padding: 0 40px 40px 40px;
}
.page .main .feature {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 20px;
}
.page .main .feature .box {
  display: inline;
  text-align: center;
}
.page .main .feature .box h6 {
  font-size: 1.1rem;
  padding: 10px;
}
.page .main .feature .box p {
  text-align: center;
  color: #666666;
}
.page .main .about {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px 50px;
  gap: 20px;
}
.page .main .about .text {
  width: 60%;
}
.page .main .about .text h2 {
  padding: 20px 0 20px 0;
}
.page .main .about .text h2 span {
  color: rgb(4, 131, 157);
}
.page .main .about .text p {
  color: #666666;
}
.page .main .containers {
  padding: 30px;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
}
.page .main .containers .box {
  display: inline;
  width: 200px;
  height: 80px;
  background-color: rgb(124, 18, 18);
  text-align: center;
  padding: 10px;
  color: white;
}
.page .main .containers .box h3 {
  font-size: 1.8rem;
  padding-bottom: 0;
}
.page .main .containers .box p {
  font-size: 0.8rem;
}
.page .main .skills {
  padding-bottom: 30px;
}
.page .main .skills h2 {
  text-align: center;
  padding: 40px 40px 30px 40px;
  font-weight: 500;
}
.page .main .skills .box {
  text-align: center;
  display: inline;
}
.page .main .skills .box .percent {
  display: grid;
  grid-template-columns: 1fr 5fr;
  padding: 8px;
}
.page .main .skills .box .percent h4 {
  font-size: 0.9rem;
  font-weight: 550;
  display: flex;
  justify-content: end;
  align-items: center;
}
.page .main .skills .box .percent p {
  background-color: white;
  width: 600px;
  height: 40px;
  margin-left: 10px;
  position: relative;
  color: black;
  display: flex;
  justify-content: end;
  align-items: center;
}
.page .main .skills .box .percent p span {
  position: absolute;
  background-color: rgb(8, 128, 188);
  height: 40px;
  left: 0;
}
.page .footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(45, 42, 42);
  color: white;
  font-size: 0.8rem;
  padding: 10px;
}
.page .footer span {
  font-size: 0.8rem;
  color: rgb(8, 128, 188);
}

:root {
  --main-purple-color: #5c48f1;
  --elements-background-color: #eeecfd;
  --element-border-color: #e0e0e1;
}

.checkbox2 {
  width: 800px;
  height: auto;
  background-color: white;
  margin: 5px auto;
  margin-top: 50px;
  padding: 5px;
}
.checkbox2 h4 {
  text-align: center;
  margin: 10px 0 20px 0;
  padding: 30px;
  background-color: rgba(92, 72, 241, 0.27);
  color: var(--main-purple-color);
  font-size: 1.2rem;
}
.checkbox2 .boxes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-left: 15px;
  background-color: var(--elements-background-color);
  text-align: center;
  justify-content: center;
}
.checkbox2 .boxes .container {
  background-color: white;
  border: 1px solid #a6a6a6;
  height: 150px;
  width: 170px;
  margin: 14px 3px 2px 5px;
}
.checkbox2 .boxes .container:hover {
  background-color: rgba(92, 72, 241, 0.27);
}
.checkbox2 .boxes .container input {
  width: 22px;
  height: 22px;
  display: flex;
  margin: 7px;
}
.checkbox2 .boxes .container input:hover {
  cursor: pointer;
  background-color: rgba(92, 72, 241, 0.27);
}
.checkbox2 .boxes .container i {
  color: var(--main-purple-color);
  font-size: 66px;
  padding: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #eee;
}

span {
  font-size: 26px;
  font-weight: bold;
}/*# sourceMappingURL=style.css.map */