/* hr {
       width: 30%;
       margin: 10px 0 15px 0;}
.peseudo{
       width: 800px;
       height: 100%;
       margin:20px 30px;
       padding: 10px 0 20px 0;
       .circle{
              .blue{
                     padding-top: 20px;
                     color: blue;
              }
              .red{
                     padding-top: 10px;
                     color: red;
              }
              .green{
                     padding-top: 10px;
                     color: green;
              }
              .orange{
                     padding-top: 10px;
                     color: orange;
              }
              hr {
                     &::before {
                     content: '';
                     position: absolute;
                     width: 12px;
                     height: 12px;
                     background-color: blue;
                     border-radius: 50%;
                     left: 3.5%;
                     margin-top: -1%;
                     }
              }
       }
       .box{
              .blue{
                     padding-top: 20px;
                     color: blue;
              }
              .red{
                     padding-top: 10px;
                     color: red;
              }
              .green{
                     padding-top: 10px;
                     color: green;
              }
              .orange{
                     padding-top: 10px;
                     color: orange;
              }
              hr {
                     &::before {
                     content: '';
                     position: absolute;
                     width: 12px;
                     height: 12px;
                     background-color: blue;
                     left: 3.5%;
                     margin-top: -1%;
                     }
              }
       }
       .triangle-up{
              .blue{
                     padding-top: 20px;
                     color: blue;
              }
              .red{
                     padding-top: 10px;
                     color: red;
              }
              .green{
                     padding-top: 10px;
                     color: green;
              }
              .orange{
                     padding-top: 10px;
                     color: orange;
              }
              hr {
                     &::after {
                     position: absolute;
                     content: '';                    
                     left: 3.5%;
                     margin-top: -1.6%;
                     width: 0;
                     border-bottom: 10px solid blue;
                     border-right: 10px solid transparent;
                     border-left: 10px solid transparent;
                     }
              }
       }
       .triangle-down{
                     .blue{
                            padding-top: 20px;
                            color: blue;
                     }
                     .red{
                            padding-top: 10px;
                            color: red;
                     }
                     .green{
                            padding-top: 10px;
                            color: green;
                     }
                     .orange{
                            padding-top: 10px;
                            color: orange;
                     }
                     hr {
                            &::after {
                            position: absolute;
                            content: '';                    
                            left: 3.5%;
                            margin-top: -0.2%;
                            width: 0;
                            border-top: 10px solid blue;
                            border-right: 10px solid transparent;
                            border-left: 10px solid transparent;
                            }
                     }
       }}
 */
.game-profile {
  width: 800px;
  height: auto;
  background-color: white;
  margin: 5px auto;
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  -moz-column-gap: 1px;
       column-gap: 1px;
  margin-top: 30px;
}
.game-profile aside {
  border-right: 2px solid #c7c6c6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.game-profile aside img {
  border: 3px solid rgb(212, 209, 209);
  border-radius: 50%;
}
.game-profile aside h3 {
  font-size: 16px;
  margin-top: 7px;
}
.game-profile aside .design {
  background-color: #eee;
  width: 175px;
  height: 20px;
  border-radius: 4px;
  margin-top: 5px;
}
.game-profile aside .design span {
  display: block;
  background-color: rgb(9, 146, 148);
  width: 140px;
  height: 20px;
  border-radius: 4px 0px 0px 4px;
}
.game-profile aside p {
  font-size: 11px;
  margin-top: 7px;
  color: #797777;
}
.game-profile aside p span {
  color: rgb(9, 146, 148);
  font-size: 12px;
}
.game-profile main {
  display: grid;
  grid-template-rows: 2fr 5fr 1fr;
  margin: 10px;
}
.game-profile main .text {
  color: #797777;
}
.game-profile main .days {
  color: #797777;
  justify-self: end;
  font-size: 13px;
}

.discounts {
  width: 800px;
  height: auto;
  background-color: #eee;
  margin: 5px auto;
  margin-top: 50px;
  padding: 5px;
  position: relative;
}
.discounts p {
  margin-right: 30px;
  margin-bottom: 20px;
  background-color: rgb(58, 112, 219);
  display: inline-block;
  position: relative;
  left: 83%;
  color: white;
  height: auto;
  width: 130px;
  text-align: center;
  padding: 8px;
  font-size: 18px;
}
.discounts p::after {
  position: absolute;
  content: "";
  left: 75%;
  bottom: 2%;
  border: 17px solid transparent;
  border-right-color: #eee;
}
.discounts .containers {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.discounts .containers .basic {
  border: 1px solid #eee;
  margin-right: 20px;
  background-color: white;
}
.discounts .containers .basic .title {
  font-size: 20px;
  padding: 10px;
  background-color: rgb(166, 37, 37);
  color: white;
  border-radius: 5px 5px 0px 0px;
}
.discounts .containers .basic .line {
  padding: 16px 3px 16px 0px;
  border-bottom: 1px solid #e6e6e6;
}
.discounts .containers .basic .line .bx-check {
  background-color: rgb(9, 173, 132);
  width: 17px;
  height: 17px;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 8px;
  color: white;
}
.discounts .containers .basic .line .bx-x {
  background-color: rgb(198, 8, 8);
  width: 17px;
  height: 17px;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 8px;
  color: white;
}
.discounts .professional {
  border: 1px solid #eee;
  background-color: white;
}
.discounts .professional .title {
  font-size: 20px;
  padding: 10px;
  background-color: rgb(52, 152, 180);
  color: white;
  border-radius: 5px 5px 0px 0px;
}
.discounts .professional .line {
  padding: 16px 3px 16px 0px;
  border-bottom: 1px solid #e6e6e6;
}
.discounts .professional .line .bx-check {
  background-color: rgb(9, 173, 132);
  width: 17px;
  height: 17px;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 8px;
  color: white;
}
.discounts .professional .line .bx-x {
  background-color: rgb(198, 8, 8);
  width: 17px;
  height: 17px;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 8px;
  color: white;
}
.discounts .professional .special {
  position: relative;
}
.discounts .professional .special .bx-question-mark {
  position: absolute;
  left: 90%;
  background-color: #514f4f;
  border-radius: 50%;
  color: white;
  padding: 1px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #eee;
}

span {
  font-size: 26px;
  font-weight: bold;
}/*# sourceMappingURL=style.css.map */